// -------------------------------------
//   susy setting
// -------------------------------------
@import "susy";

// -------------------------------------
//   common
// -------------------------------------
@import 'common';

// Style
.main-wrap {
  margin: 10px auto;
  padding: 10px 0;
  width: 580px;
  border: 1px solid #CCC;
  text-align: center;
}
.counter {
  float: left;
  margin: 10px;
  padding: 20px 10px 20px;
  width: 150px;
  border: 1px solid #CCC;
}
h1 {
  font-size: 70px;
  line-height: 70px;
}
.btns-counter-ctrl {
  margin: 5px 0;
}
.btns-counter-ctrl button {
  margin: 0 5px;
  width: 50px;
  height: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none
}

.btn-add {
  width: 555px;
}

.btn-freeze,
.btn-remove {
  display: block;
  margin: 5px auto;;
  width: 110px;
}
